@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;600&family=Tilt+Warp&display=swap');


:root {
    --modal-duration: 1s;

    --primary-color: #30336b;
    --second-color: #E966EB;

}

*box {
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;

    transition: transform 0.3s ease;
}

body .show-nav {
    transform: translate(200px);
}

nav {
    background-color: var(--primary-color);
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: antiquewhite;
    /* position: fixed; */
}

nav .logo{
    padding: 30px 0;
    text-align: center;
}

nav .logo img{
    width:80px;
    height: 80px;
    /* border-radius: 50%; */
}


nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul a {
    color: antiquewhite;
    text-decoration: none;
}

nav ul a:hover {
    background-color:  antiquewhite;
    color:  #30336b;
    text-decoration: none;
}

h2 {
    text-align: center;
}
